#
# rename this file to .env and fill in the blanks
#

# https://pypi.org/project/azure-keyvault-secrets/
VAULT_URI=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

# Confluent Cloud Key
CCLOUD_BROKER_URL=
CCLOUD_KEY=
CCLOUD_SECRET=

# Schema Registry Key
SR_URL=
SR_KEY=
SR_SECRET=

# Need this for REST security features
CONFLUENT_LICENSE=
